<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="A1" fileName="mcbApp.log" append="false">
			<PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/>
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="A1"/>
		</Root>
	</Loggers>
</Configuration>
